*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.project
# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/repository/junit/*
/repository/org/apache/*
/repository/org/abstractj/*
/repository/org/freedesktop/*
/repository/org/codehaus/*
/repository/org/sonatype/*
/repository/org/osgi/*
/repository/org/easymock/*
/repository/org/bouncycastle/*
/repository/org/eclipse/*
/repository/org/hamcrest/*
/repository/org/igniterealtime/*
/repository/org/sample/*
/repository/org/slf4j/*
/repository/org/xmpp/*
#/org/
#/org/
/repository/classworlds/*
/repository/ch/*
/repository/dom4j/*
/repository/javax/*
/repository/backport-util-concurrent/*
/repository/biz/*
/repository/com/*
/repository/commons-cli/*
/repository/commons-codec/*
/repository/commons-collections/*
/repository/commons-io/*
/repository/commons-lang/*
/repository/commons-logging/*
/repository/dnsjava/*
/repository/log4j/*
/repository/net/*
/repository/oro/*
/repository/xpp3/*
/repository/xml-apis/*
/junit/*
/org/apache/*
org/abstractj/*
/org/freedesktop/*
/org/codehaus/*
/org/sonatype/*
/org/osgi/*
/org/easymock/*
/org/bouncycastle/*
/org/eclipse/*
/org/hamcrest/*
/org/igniterealtime/*
/org/sample/*
/org/slf4j/*
/org/xmpp/*
#/org/
#/org/
/classworlds/*
/ch/*
/dom4j/*
/javax/*
/backport-util-concurrent/*
/biz/*
/com/*
/commons-cli/*
/commons-codec/*
/commons-collections/*
/commons-io/*
/commons-lang/*
/commons-logging/*
/dnsjava/*
/log4j/*
/net/*
/oro/*
/xpp3/*
/xml-apis/*
